/*Classes*/

nav {
	background-color: #3500D3;
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
}

nav a {
	text-decoration: none;
	color: #FFF;
	font-size: 30px;
	font-weight: 700;
	padding: 5px;
}

.coding_box {
	border: 3px solid #3500D3;
	border-radios: 3px;
	display: flex;
	margin-bottom: 100px;
}

p {
	padding: 15px 20px;
	width: 500px;
}

.column:org{
	display: flex;
	flex-direction: column;
}

.console {
	color: orange;
	width: 2000px;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

ol li {
  counter-increment: my-awesome-counter;
  width: 500px;
  margin-top: 10px;
}

ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: red;
}

/*ID's*/

#p_coding_box {
	margin-left: 50px;
	margin-right: 50px	;
}

#highlighter {
	color: #3F3FBF;
}

#line {
	margin: 0;
	border: 2px solid #3500D3;
}

#btm_org_note {
	justify-content: space-between;
}

#c_strt {
	color: green;
}

